$border-radius: 5px;

// colors. some of these are also set in the vuetify theme, so a change here should be replicated there as well
$primary: #750087;
$secondary: #ff6600;
$error: #ff0000;
$accent: #5cb85c;
$warning: #ffc107;
$lightGrey: #dcdcdc;
$surface: #f0f0f0;
